/*
 *  heroes.less
 *  Hero units and sidekick units. 
 *
 *  (C)2013 Jonathan Ballands
 */

/*
 *  MIXINS
 */

.border-top() {
    border-top: @border-thickness solid @even-darker-gray;
}

.border-bottom() {
    border-bottom: @border-thickness solid @even-darker-gray;
}

.img-adjuster() {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.text-adjuster() {
    position: relative;
    z-index: 100;
}

/*
 *  CLASSES
 */

.hero-unit {
    position: relative; 
    overflow: hidden;
    
    width: 100%;
    height: @hero-unit-height;
    
    .border-bottom();
}

span.hero-unit-text {
    color: @white;
    .text-adjuster();
    
    &.heroic {
        font-size: @font-size-hero;
        font-weight: @font-heavy;
        font-style: italic;
    }
}

//
//  Suppresses unexpected growth
//
.hero-unit img {
    .img-adjuster();
}

.sidekick-unit {
    position: relative; 
    overflow: hidden;
    
    width: 100%;
    height: @sidekick-unit-height;
    
    .border-top();
    .border-bottom();
}

span.sidekick-unit-text {
    font-size: @font-size-normal;
    color: @white;
    font-weight: @font-light;
    font-style: italic;
    .text-adjuster();
}

//
//  Suppresses unexpected growth
//
.sidekick-unit img {
    .img-adjuster();
}
