/*
 *  images.less
 *  Contains styling required for images in Business
 *  Casual.
 *
 *  © 2014 Jonathan Ballands
 */

/*
 *  MIXINS
 */

.giveOptions() {
    &.rounded {
        -moz-border-radius: @well-round-edge;
        -webkit-border-radius: @well-round-edge; 
        border-radius: @well-round-edge;
    }
    
    &.circular {
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%; 
        border-radius: 50%;
    }
    
    &.border {
        border: @border-thickness solid @image-border-color;
    }
}

/*
 *  CLASSES
 */

img {
    .giveOptions();
}

.glassbox {
    position: relative; 
    overflow: hidden;
    
    width: 100%;
    height: @glassbox-height;
    
    -moz-border-radius: @well-round-edge;
    -webkit-border-radius: @well-round-edge; 
    border-radius: @well-round-edge;
    
    .glassbox-slide {
        opacity: 0; 
        position: absolute;
        top: 0; 
        left: 0;
    }
    
    .glassbox-present {
        opacity: 1;
    }
    
    .glassbox-left-arrow, .glassbox-right-arrow, .glassbox-caption {
        position: absolute;
        z-index: 1000;
    }
    
    .glassbox-left-arrow:hover, .glassbox-right-arrow:hover {
        cursor: pointer;
    }
    
    .glassbox-caption {
        text-align: center;
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
    }
}