/*
 *  scaffolding.less
 *  Contains a bunch of variables and initial setup
 *  for Business Casual.
 *
 *  (C)2013 Jonathan Ballands
 */

/*
 *  Colors
 */
@white:                 #FFFFFF;
@off-white:             #F2F2F2;
@dark-off-white:        #CCCCCC;
@navigation-divider:    #D9D9D9;
@gray:                  #ABABAB;
@dark-gray:             #282828;
@darker-gray:           #222222;
@even-darker-gray:      #171717;
@black:                 #000000;
@teal:                  #61EBCA;
@shadow-color:          #1C1C1C;

/*
 *  Fonts
 */
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-light:              300;
@font-medium:             500;
@font-heavy:              600;
@font-size-hero:          48pt;
@font-size-title:         36pt;
@font-size-aside:         21pt;
@font-size-normal:        16pt;
@font-size-code:          14pt;

/*
 *  Flexor stuff
 */
@gutter-width:          20;
@columns:               10;
@container-width:       950 + @gutter-width;
@column-width:          ((@container-width) / @columns);

/*
 *  Hero stuff
 */
@hero-unit-height:      550;
@sidekick-unit-height:  270;

/*
 *  Navigation stuff
 */
@navigation-horizontal-gutter:  50;
@navigation-vertical-gutter:    24;

/*
 *  Well stuff
 */
@well-gutter:       30;
@well-round-edge:   10;

/*
 *  Other
 */
@border-thickness: 1;
@aside-gutter:  40;
@seperator-gutter: 50;

//  Clearfix
//  http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix() {
    *zoom: 1;
        
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
