/*
 *  scaffolding.less
 *  Contains a bunch of variables and initial setup
 *  for Business Casual.
 *
 *  (C)2013 Jonathan Ballands
 */

/*
 *  Colors
 */
@white:                 #FFFFFF;
@off-white:             #F2F2F2;
@dark-off-white:        #CCCCCC;
@navigation-divider:    #D9D9D9;
@gray:                  #ABABAB;
@dark-gray:             #282828;
@darker-gray:           #222222;
@black:                 #000000;
@teal:                  #61EBCA;
@shadow-color:          #1C1C1C;

/*
 *  Fonts
 */
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-light:              300;
@font-medium:             500;
@font-heavy:              600;
@font-size-hero:          48pt;
@font-size-title:         36pt;
@font-size-normal:        16pt;

/*
 *  Flexor stuff
 */
@gutter-width:          20;
@columns:               10;
@container-width:       950 + @gutter-width;
@column-width:          ((@container-width) / @columns);

/*
 *  Hero stuff
 */
@hero-unit-height: 550;
@sidekick-unit-height: 270;

/*
 *  Navigation stuff
 */
@navigation-horizontal-gutter:  50;
@navigation-vertical-gutter:    24;

/*
 *  Well stuff
 */
@well-gutter: 30;
@well-round-edge: 10;

/*
 *  Scaffolding
 */

//  Clearfix
//  http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix() {
    *zoom: 1;
        
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

body {
    width: 100%;
    
    margin: 0;
    padding: 0;
    
    background-color: @dark-gray;
    color: @white;
    
    font-family: @font-family-sans-serif;;
    font-size: @font-size-normal;
    font-weight: @font-light;
    
    .clearfix();
}

h1 {
    font-size: @font-size-title;
    font-weight: @font-medium;
    color: @teal;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: @teal;
    &:hover {
        color: @white;
    }
}
