/*
 *  tables.less
 *  Contains styling required for tables in Business
 *  Casual.
 *
 *  (C)2014 Jonathan Ballands
 */

/*
 *  MIXINS
 */

.make-rounded() {
    tr:first-child { 
        th:first-child, td:first-child {
            border-top-left-radius: @table-edge-radius;
        }
    }
    tr:first-child { 
        th:last-child, td:last-child {
            border-top-right-radius: @table-edge-radius; 
        } 
    }
    tr:last-child { 
        th:first-child, td:first-child {
            border-bottom-left-radius: @table-edge-radius;  
        }
    }
    tr:last-child {
        th:last-child, td:last-child {   
            border-bottom-right-radius: @table-edge-radius;  
        }
    }
}

.provide-text-align() {
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }
}

// Used so that the head doesn't round
.suppress-rounding-bottom() {
    tr:last-child { 
        th:first-child, td:first-child {
            border-bottom-left-radius: 0;  
        }
    }
    tr:last-child {
        th:last-child, td:last-child {   
            border-bottom-right-radius: 0;  
        }
    }
}

// Used so that the body doesn't round
.suppress-rounding-top() {
    tr:first-child { 
        th:first-child, td:first-child {
            border-top-left-radius: 0;
        }
    }
    tr:first-child { 
        th:last-child, td:last-child {
            border-top-right-radius: 0; 
        } 
    }
}

.provide-colors() {  
    
    // The last-child part prevent double bordering for the
    // last column of cells
    
    td.invert, th.invert {
        background-color: @darker-gray;
        color: @white;
        border-right: 1 solid @table-head-border-color;
        border-top: 1 solid @table-head-border-color;
    }
    td:last-child.invert, th:last-child.invert {
        background-color: @darker-gray;
        color: @white;
        border-right: 0;
    }
    
    td.danger, th.danger {
        background-color: @danger-background;
        color: @danger-text;
        border-right: 1 solid @danger-border;
        border-top: 1 solid @danger-border;
    }
    td:last-child.danger, th:last-child.danger {
        background-color: @danger-background;
        color: @danger-text;
        border-right: 0;
    }
    
    td.warning, th.warning {
        background-color: @warning-background;
        color: @warning-text;
        border-right: 1 solid @warning-border;
        border-top: 1 solid @warning-border;
    }
    td:last-child.warning, th:last-child.warning {
        background-color: @warning-background;
        color: @warning-text;
        border-right: 0;
    }
    
    td.info, th.info {
        background-color: @info-background;
        color: @info-text;
        border-right: 1 solid @info-border;
        border-top: 1 solid @info-border;
    }
    td:last-child.info, th:last-child.info {
        background-color: @info-background;
        color: @info-text;
        border-right: 0;
    }
    
    // No border on top when first row
    tr:first-child {
        th, td {
            border-top: 0;
        }
    }
}

/*
 *  CLASSES
 */

.rounded-table {
    width: 100%;
    margin-bottom: @line-height;
    
    // Suppress spacing
    border-spacing: 0;
    border: 1 solid @table-border-color;
    border-radius: @table-edge-radius; 

    .provide-text-align();
    
    // Affects all cells
    thead, tbody, tfoot {
        
        // Make rows rounded
        .make-rounded();
        
        // Give color options
        .provide-colors();
        
        tr {
            
            // Applying colors to cells makes it easy to change their color
            th, td {
                background-color: @table-body-background-color;
                color: @table-body-text-color;
                
                // Use well gutter size until you know if this is a full table or not
                padding: @well-gutter-size / 2;
                vertical-align: top;
                border-top: 1 solid @table-body-border-color;
                border-right: 1 solid @table-body-border-color;
                
                font-style: @table-body-font-style;
                font-family: @font-family-sans-serif;
                font-weight: @table-body-font-weight;
                font-size: @table-body-font-size;
            }
            th:last-child, td:last-child {
                vertical-align: bottom;
                border-right: 0;
            }
        }
    }
    
    // Only affects head
    thead {
        
        // Suppress rounding
        .suppress-rounding-bottom();
        
        tr {
            th, td {
                vertical-align: bottom;
                border-bottom: 1 solid @table-head-border-color;
                border-right: 1 solid @table-head-border-color;
                border-top: 0;
                
                font-weight: @table-head-font-weight;
                font-style: @table-head-font-style;
                font-size: @table-head-font-size;
                
                background-color: @table-head-background-color;
                color: @table-head-text-color;
            }
            th:last-child, td:last-child {
                vertical-align: bottom;
                border-bottom: 1 solid @table-head-border-color;
                border-right: 0;
                
                background-color: @table-head-background-color;
                color: @table-head-text-color;
            }
        }
    }
    
    // If a full fledged table, continue to suppress rounding
    &.full {
        
        // Use table-cell-padding if this is a full table
        thead {
            tr {
                th, td {
                    padding: @table-cell-padding;
                }
            }
        }
        
        tbody, tfoot {
            
            // Suppress rounding
            .suppress-rounding-top();
            
            // Use table-cell-padding if this is a full table
            tr {
                th, td {
                    padding: @table-cell-padding;
                }
            }
            
        } 
    }
}
