/*
 *  wells.less
 *  Contains styling for wells.
 *
 *  (C)2013 Jonathan Ballands
 */

.well {
    background-color: @darker-gray;
    color: @white;
    
    padding: @well-gutter/2;
    
    -moz-border-radius: @well-round-edge;
    -webkit-border-radius: @well-round-edge; 
    border-radius: @well-round-edge;
    
    border: 1 solid @even-darker-gray;
}